# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.packages
build/
.pub-cache/
.pub/
/packages/app/lib/generated_plugin_registrant.dart

# Android build files
**/android/app/src/debug/AndroidManifest.xml
**/android/app/src/profile/AndroidManifest.xml
**/android/.gradle
**/android/app/build
**/android/build
**/android/app/release
**/android/app/debug
**/android/local.properties
**/android/key.properties

# iOS build files
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Pods/
**/ios/.symlinks/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Firebase & Cloud Functions
firebase-debug.log
firebase-debug.*.log
functions/node_modules/
functions/.env

# API Keys & Secrets (If you ever make a .env file)
.env